global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "Directus"
    static_configs:
      - targets:
          - "{{ hostvars['app'].ansible_host }}:9100"
          - "{{ hostvars['app'].ansible_host }}:8080"
        labels:
          instance: "Directus"

  - job_name: "Database"
    static_configs:
      - targets:
          - "{{ hostvars['database'].ansible_host }}:9100"
          - "{{ hostvars['database'].ansible_host }}:8080"
        labels:
          instance: "Database"
