global:
  scrape_interval: 5s

scrape_configs:
  # Node Exporter (host metrics)
  - job_name: node_exporter
    static_configs:
      - targets:
          - "{{ hostvars['web_app'].ansible_host }}:9100"
        labels:
          instance: Directus
          role: app

      - targets:
          - "{{ hostvars['database'].ansible_host }}:9100"
        labels:
          instance: Database
          role: database


  # cAdvisor (Docker metrics)
  - job_name: cadvisor
    static_configs:
      - targets:
          - "{{ hostvars['web_app'].ansible_host }}:8080"
        labels:
          instance: Directus
          role: app

      - targets:
          - "{{ hostvars['database'].ansible_host }}:8080"
        labels:
          instance: Database
          role: database
