.terraform*
terraform.tfstate*
ansible/hosts
ansible/roles/run_tests/files/run_tests.py
ansible/roles/run_tests/tasks/main.yml
ansible/roles/deploy_services/files/app-docker-compose.yml
ansible/roles/run_tests/files/
ansible/roles/run_tests/tasks/
ansible/roles/configure_nginx/files/nginx.conf
ansible/roles/configure_nginx/files/promtail-config.yml
set_env.sh

jenkins/config/
